{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin_wallet.css' %}" />
    <title>Admin Wallet</title>
</head>
<body>
<div class="column2">
    <div class="large">
        <div class="column2-title">
            <h1>Current Balance</h1>
        </div>
        <div class="column2-title2">
        <h1><span>Rs. {{ adm_wallet.balance }}</span></h1>
                    </div>
        <hr>
    </div>
          </div>
</body>
<!-- <body> 
{% block content %}
<h1>Current Sales - Rs. {{ adm_wallet.balance }}</h1>
{% endblock %} 
</body> -->
</html>