<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <link rel="icon" href="{% static 'images/favicon.ico' %}" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/imperial_style.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/master.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static '/css/font-awesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/imperial_style.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style2food.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/responsive.css' %}"
    />
    <link rel="stylesheet" href="{%static 'css/bootstrap.css'%}" class="" />

    <!--owl slider stylesheet -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <!-- nice select  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
      integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ=="
      crossorigin="anonymous"
    />
    <!-- font awesome style -->
    <link href="{% static 'css/font-awesome.min2.css' %}" rel="stylesheet" />

    <link
      href="https://fonts.googleapis.com/css?family=Caveat:700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Bevan&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Caveat:400,700&subset=cyrillic"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  <!-- ----------YOUTUBE CSS FO MIXITUP------ -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter- bootstrap/4.4.1/css/bootstrap.min.css">
  <!-- ------- -->
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>

    <style media="screen">
      .w3-content,
      .w3-auto {
        margin-left: auto;
        margin-right: auto;
      }
      .w3-content {
        max-width: 980px;
      }
      .w3-auto {
        max-width: 1140px;
      }
      .w3-section,
      .w3-code {
        margin-top: 16px !important;
        margin-bottom: 16px !important;
      }
      .mySlides {
        display: none;
      }

    </style>

    <title>Mingos | FoodMenu</title>
    <link
      rel="shortcut icon"
      href="{% static 'images/favico.png' %}"
      type="image/x-icon"
    />
    <!-- jQery -->
    <script type = "text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <!-- popper js -->
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <!-- isotope js -->
    <!-- <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script> -->
    <!-- nice select -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>

    <script>
      // isotope js
      $(window).on('load', function () {
        $('.filters_menu li').click(function () {
          $('.filters_menu li').removeClass('active');
          $(this).addClass('active');
        })
      });

    </script>
          <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     

     <script>
      function filterObjects(c)
      {
        var x,i;
        x=document.getElementsByClassName(c);
        if(c=="all") c="";
        for(i=0;i<x.length;i++){
          removeClass(x[i],"show");
          if(x[i].className.indexOf(c)> -1) addClass(x[i],"show");
        }
      }

      function addClass(element,name){
        var i,arr1,arr2;
        arr1=element.className.split(" ");
        arr2=name.split(" ");
        for(i=0;i<arr2.length;i++){
          if(arr1.indexOf(ar2[i])==-1) element.className+=" "+arr2[i];
        }
      }

      function removeClass(element,name){
        var i,arr1,arr2;
        arr1=element.className.split(" ");
        arr2=name.split(" ");
        for(i=0;i<arr2.length;i++){
          while(arr1.indexOf(ar2[i])>-1) arr1.splice(arr1.indexOf(arr2[i]));
          element.className=arr1.join(" ");
        }
      }
      </script> 


    <style>.example button {
      float: left;
      background-color: #4E3E55;
      color: white;
      border: none;
      box-shadow: none;
      font-size: 17px;
      font-weight: 500;
      font-weight: 600;
      border-radius: 3px;
      padding: 15px 35px;
      margin: 26px 5px 0 5px;
      cursor: pointer; 
    }
    .example button:focus{
      outline: none; 
    }
    .options button:hover{
      background-color: #33DE23; 
    }
    .example button:active{
      background-color: #81ccee; 
    }
    
    </style>


  </head>
  <body style="background-image: none">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
      function cartconfirm()
      {
          Swal.fire(
          'Done!',
          'Added to cart Successfully!',
          'success'
         )
        // for (var i = 0; i < names.length; i++)
        // {
        //   if(quant_inp.value != "")
        //   {
        //     btn_add.setAttribute("href", "/addtocart/{{f.FoodId}}/{{f.FoodQuant}}");
        //   }
        // }
       // swal("Successfully added   to cart", "success");     
      }
     
      </script>
    <nav
      class="navbar navbar-expand-lg navbar-light"
      style="
        width: 100%;
        background-image: linear-gradient(180deg, #fff, #fff);
        box-shadow: 0px 0px 7px 0px #404040;
      "
    >
      <a class="navbar-brand" href="/"
        ><h2 style="color: black; font-family: sans-serif; font-weight: bolder">
          <b>Mingos</b>
        </h2></a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul
          class="navbar-nav"
          style="margin-left: auto !important; margin-right: 30px"
        >
          <li class="nav-item active">
            <a class="nav-link" id="nav-link" href="home"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          {% if request.session.CustId is None and request.session.AdminId is not None %}
          <li class="nav-item activee">
            <a class="nav-link" id="nav-link" href="addfoods"
              >Add Food <span class="sr-only">(current)</span></a
            >
          </li>
          {% endif %}
          <li class="nav-item activee">
            <a class="nav-link" id="nav-link" href="allfood"
              >Food Menu <span class="sr-only">(current)</span></a
            >
          </li>
          {% if request.session.CustId is None and request.session.AdminId is None %}
          <li class="nav-item activee">
            <a class="nav-link" id="nav-link" href="addcustomer"
              >Register <span class="sr-only">(current)</span></a
            >
          </li>
          {% endif %} {% if request.session.CustId is None and request.session.AdminId is None %}
          <li class="nav-item activee">
            <a class="nav-link" id="nav-link" href="login"
              >Login <span class="sr-only">(current)</span></a
            >
          </li>
          {% endif %} 
          {% if request.session.CustId is not None and request.session.AdminId is None %}
          <li class="nav-item activee">
            <a class="nav-link" id="nav-link" href="allcart"
              ><i class="fas fa-shopping-cart" style="font-size: 20px"></i> Cart
              <span class="sr-only">(current)</span></a
            >
          </li>
          {% endif %}
          {% if request.session.CustId is not None and request.session.AdminId is None %}
          <li class="nav-item activee">
            <a class="nav-link" id="nav-link" href="/wallet"><i class="fas fa-wallet"></i> User Wallet         
               <span class="sr-only">(current)</span></a>
          </li>
          {% endif %}
          {% if request.session.CustId is not None or request.session.AdminId is not None %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="far fa-user-circle" style="font-size:20px;color:black;"></i>&nbsp;My Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			{% if request.session.CustId is not None and request.session.AdminId is None %}
              <a class="dropdown-item" href="getcustomer">Edit Profile</a>
            <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="orders"><i class="fas fa-clipboard-list" style="font-size:20px;"></i>&nbsp;&nbsp;&nbsp;Orders</a>
              <a class="dropdown-item" href="orders"><i class="fas fa-history" style="font-size:20px;"></i>&nbsp;&nbsp;Order History</a>
            <div class="dropdown-divider"></div>
			  {% endif %}
              <a class="dropdown-item" style="background:red;width:1;border-radius:4px;" href="logout"><i class="fas fa-sign-out-alt" style="font-size:20px;color:white;"></i>&nbsp;&nbsp;<font color="white">Logout</font></a>
            </div>
          </li>
      
          {% endif %}
        </ul>
      </div>
    </nav>

    <main
      style="
        width: 100%;
        margin-top: 0;
        margin-bottom: 10px;
        background-color: #fff;
      "
    >
      <!-- {% for f in foodlist %}
    <div class="cards">
    <img src="{{f.FoodImage.url}}" alt="" style="height: 200px;width:100%;">
    <div class="card__info">
        <div class="card__info--title">
    <h3>{{f.FoodName}}</h3>
        </div>
    <div class="card__info--price">
    <p>Rs. {{f.FoodPrice}}</p>
    {% if request.session.CustId is not None and request.session.AdminId is None %}
    </div>

</div>     
  <p><a href="/addtocart/{{f.FoodId}}"><button>Add to Cart</button></a></p>

    {% endif %}
    {% if request.session.CustId is None and request.session.AdminId is not None %}
    <p><a href="/getfood/{{f.FoodId}}"><button>Update</button></a></p>
    <p><a href="/deletefood/{{f.FoodId}}"><button>Delete</button></a></p>
    {% endif %}
    </div>
  </div>
</div> 
  {% endfor %}  -->
      <!-- ---------------Try OUT------------- -->
      <section class="food_section layout_padding-bottom">
        <div class="container">
          <div class="heading_container heading_center">
            <h2>Our Menu</h2>
          </div>
        </div>

        <ul class="filters_menu">
          <li class="mixitup-control-active active" data-filter="*">All</li>
          <li data-filter=".Sandwich">Sandwich</li>
          <li data-filter=".rolls">Rolls</li>
          <li data-filter=".pasta">Pasta</li>
          <li data-filter=".south_thali">South thali</li>
          <li data-filter=".north_thali">North thali</li>
          <li data-filter=".chinese">Chinese</li>
          <li data-filter=".north_indian">North Indian</li>
          <li data-filter=".extra">Extras</li>
          <li data-filter=".beverages">Beverages</li>
          <li data-filter=".dosa">Dosa</li>
          <li data-filter=".south_indian">South indian</li>
          <li data-filter=".quick_bites">Quick bites</li>
          <li data-filter=".Chaats">Chaats</li>
          <li data-filter=".Ice_cream">Ice creams</li>
        </ul>
      </section>

      <section class="food_section layout_padding-bottom">
        <div class="container">
          <div class="filters-content">
            <div class="row grid">
              <div id="foodlist" data-names="{{ foodlist }}"></div>
              {% for f in foodlist %}
              <div class="col-sm-6 col-lg-4 mix {{f.FoodCat}}" >
                <div class="box">
                  <div>
                    <div class="img-box">
                      <img src="{{f.FoodImage.url}}" alt="" />
                    </div>
                    <div class="detail-box">
                      <h5>{{f.FoodName}}</h5>
                      <p>{{f.FoodID}}</p>
                      <div class="options">
                        <h6>Rs. {{f.FoodPrice}}</h6>
                        <br />
                        {% if request.session.CustId is not none %}
                        <b style="font-size:20px;"><i>{{c.FoodName}}</i></b><br/>
                        
                    
                    <input type="hidden" id="ctid" value="{{c.CartId}}" readonly />
                        
                 
                          <a href="/addtocart/{{f.FoodId}}"
                            >
                            <p onclick="cartconfirm()"><i id="cart" class="fas fa-cart-plus"style='font-size:140%; color:#183153' alt="Add to cart"></i>
</p></a>
                           
                        {% endif %} 
                        {% if request.session.CustId is None and request.session.AdminId is not None %}
                        <p>
                          <a href="/getfood/{{f.FoodId}}"
                            ><i class="fas fa-edit"style='font-size:140%; color:#183153' alt="Update/Edit"></i></a
                          >
                        </p>
                        <p>
                          <a href="/deletefood/{{f.FoodId}}"
                            ><i class='fas fa-trash-alt' style='font-size:140%;color:red'></i></a
                          >
                        </p>
                        {% endif %}
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>

      <!-- ------------------- -->

      <!-- <script>
        var myIndex = 0;
        Mingoscarousel();

        function Mingoscarousel() {
          var i;
          var x = document.getElementsByClassName("mySlides");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          myIndex++;
          if (myIndex > x.length) {myIndex = 1}
          x[myIndex-1].style.display = "block";
          setTimeout(Mingoscarousel, 2000);
        }
      </script> -->
    </main>
    <div class="footer">
         <div id="button"></div>
       <div id="container">
       <div id="cont">
       <div class="footer_center">
             <h3 style="color:white;">Mingos</h3>
             <p style="color:white;">Made by Santosh | Nisarga | Keerthana🍔🍟🍕</p>
       </div>
       </div>
       </div>
       </div>
  <!-- -----MIXITUP-------------- -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.3.1/mixitup.min.js"></script>
  <script>
    $(document).ready(function(){
    var mixer = mixitup('.grid');
    console.log("in mixitup")
    });
    </script>
  </body>
</html>
